//colors
// $nav-active-text: #212121;
// $nav-inactive-text: #757575;
// $nav-disabled-text: #9e9e9e;


*, :after, :before {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    position: relative;
}

