@import "./typography.scss";

//colors
    $white: #fff;
    //navbar
    $nav-tab-active-text: #303d4e; //also button colour and text color at some points, problem counter section
    $nav-tab-inactive-text: #757575;
    $nav-tab-border: #d6d6d6;
    // $nav-disabled-text: #9e9e9e;

    //login button
    $button-hover: rgb(48, 62, 79, 0.9);

    //yellow buttons
    $button-text: #FFF7D5;
    $button-yel-background: #F9A622;
    $button-yel-hover: rgb(249,166,34,0.7);

    //homeSection2
    $p-color: #292627;

    //background
    $sectionHome3-background: #f0f0f0;

    //carousel_card
    $carousel_card: #f0eeef;
    $carousel-p: #6b6b6b;
    $carousel-name: #313d4e;

    //footer
    $footer-text: #494949;

*, :after, :before {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0;
    display: block;
    font-family: Lato,sans-serif;
    overflow-x: hidden;
}

header {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    float: left;
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    padding: 20px 0;
    background-color: $white;  
    margin: 0 auto;
    z-index: 200;
}

section {
    width: 100%;
    float: left;
    margin: auto;
}

button {
    border: none;
    outline: none;
}

button:hover {
    border: none;
    outline: none;
}
