@import './global.scss';

header {

    .toggle {
        width: 30px;
        height: 22px;

        span {
            width: 100%;
            background-color: $nav-tab-active-text;
            height: 3px;
            padding: 2px 0 2px 0;
            margin-top: 4px;
            margin-left: 0;
            margin-right: 0;
        }
    }

    img {
        position: absolute;
        left: 50px;
        top: 30px;
    }

    button {
        color: $white;
        background-color: $nav-tab-active-text;
        padding: 12px 32px;
        font-size: 14px;
        font-weight: 200;
        border-radius: 4px;
        cursor: pointer;
        position: absolute;
        right: 40px;
    }

    button:hover {
        background-color: $button-hover;
    }
}

#header_nav {
    display: flex;
    justify-content: space-around;
}

.navLink {
    text-decoration: none;
    color: $nav-tab-inactive-text;
    width: auto;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 500;
}

.navLink:visited {
    color: $nav-tab-inactive-text;
}

.navLink:hover {
    color: $nav-tab-active-text;
}

.navLink.active {
    color: $nav-tab-active-text;
}

.border {
    border-right: 1px solid $nav-tab-border;
}


@media (max-width: 1100px) {
    header {
        .toggle {
            display: flex;
            cursor: pointer;
            flex-direction: column;
            position: absolute;
            right: 40px;
        }

        img {
            size: 50%;
        }

        button {
            right: 80px;
        }
    }
    
    #header_nav {
        display: none;
    }    
}

@media (max-width: 429px){
    header {
        img {
            height: 20px;
            left: 12px;
        }
    }
}

.modal_div_nav {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.cross {
    font-size: 20px;
    font-weight: bold;
    color: $nav-tab-active-text;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

.mob_nav {
    display: flex;
    flex-direction: column;
}

