@font-face {
    font-family: "Georgia";
    src: url("../assets/fonts/Georgia.ttf");
  }

@font-face {
    font-family: "georgiab";
    src: url("../assets/fonts/georgiab.ttf");
    }

@font-face {
    font-family: "georgia-bold";
    src: url("../assets/fonts/georgia-bold.ttf");
    }

@font-face {
    font-family: "Georgia-Regular-font";
    src: url("../assets/fonts/Georgia-Regular-font.ttf");
    }